/*Adds the image background to webpage in all browsers and makes fonts white*/
body {
	background: url(../images/balloons.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
  	background-size: cover;
  	color: white;
}
/*gives container a background color, adds opacity and moves container down from the top of the webpage*/
.main-container{
	background: rgba(54, 25, 25, .3);
	margin: 20px;

}
.page-header{
	position: relative;
	border-bottom: none;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 64px;
	color: white;
	padding: 10px;
}

h2 {
	padding-left: 100px;
	color: white;
	font-family: 'Pacifico', cursive;

}

#login{
	float: right;
	margin:20px;
}

/*#signup{
	float: right;
	background: none;
	border:none;
}*/

#form-container{
	padding: 50px;

}

.panel-heading{
	font-size: 28px;
	font-family:'Open Sans Condensed', sans-serif;

}

#inputBox{
	float: right;
	padding-right: 20px;
}

#inputBox .btn {
	float: right;
}

#welcomeName { 
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
}

#error{
	color: red;
}
.blackText{
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: rgba(255, 255, 255,.8);
	color: black;
}

form{
	padding:10px;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

p{
	float:right;
	padding-top: 20px;
}

/*need to come and fix this*/
a .scroll{
	text-decoration: none;
	float: right;
	font-size: 14px;
	font-family:'Open Sans Condensed', sans-serif;
	color: black;
	background-color: #f0f0f0;
	border:1px solid #ccc;
	border-radius: 2px;
	position: fixed;
	bottom: 10%;
	right: 0;
	min-width: 20px;
	text-align: center;
	padding: 0 5px 1px;
	opacity: 0;
	animation: buttonFade .5s 1s 1 forwards;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

#featured-destinations{
	padding: 20px;
}

.item{
	margin: 10px;
	width: 700px;
	height: 400px;
	position: relative;
	align-content: center;
}

.city-name{
	font-size: 60px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	position: absolute;
	bottom: 5px;
	left:2px; 
	padding: 0px 8px;
}
 #NYC{
 	background: url(https://pixabay.com/static/uploads/photo/2014/05/02/23/46/new-york-city-336475__340.jpg);
	background-size: cover;
 }
#AUSTIN{
	background: url(https://pixabay.com/static/uploads/photo/2016/03/10/15/10/rodeo-1248602__340.jpg);
	background-size: cover;
}
#WDC{
	background: url(https://pixabay.com/static/uploads/photo/2015/11/04/14/44/white-house-1022633__340.jpg);
	background-size: cover;
}
#LA{
	background: url(https://pixabay.com/static/uploads/photo/2013/06/04/17/08/hollywood-116225__340.jpg);
	background-size: cover;
}
#CHICAGO{
	background: url(https://pixabay.com/static/uploads/photo/2014/04/27/22/44/chicago-333599__340.jpg);
	background-size: cover;
}

<<<<<<< HEAD
=======

#submit3.btn {
	margin: 10px;

>>>>>>> 38c148ac92a74ddbc36bb00ab59b284373ec776f
/* styling volunteer info */

.volOpp {
  text-align: center;
}

.trip {
  background-color: rgba(217, 179, 140, .4);
  border-radius: 2px;
  line-height: 1.5;
  text-shadow: 1.3px 1.3px #140d06;
}

#volTitle {
  padding: 10px;
}

#end {
  margin: 10px 0px;
  padding-left: 10px;
}

#org {
  margin: 10px 0px;
  padding-left: 10px;
}

#location {
  margin: 10px 0px;
  padding-left: 10px;

}

/*.panel-heading {
	background-color: rgba(190, 185, 181, .3);
	color: black;
}*/

#link > a {
  color: #140d06;
  text-shadow: 0px 0px;
}
#submit1 {
  font-family:'Open Sans Condensed', sans-serif;
}

